<app-header-nav></app-header-nav>
<div style="display: flex;">
<app-side-nav-bar style="scrollbar-width: thin; background-color: white ;width: 25%;height: 95vh;overflow-y: scroll;position: fixed;"></app-side-nav-bar>
<div style="background-color: white;width: 75%;padding: 4%;margin-left: 340px;">
    <div id="secure1">
    <h1>3D Secure Version 2 API </h1>
    <h3>Introduction</h3>
    <hr>
    <ng-container *ngFor="let item of data">
        <h2>{{item.heading}}</h2>
        <hr>
        <p>{{item.description}}</p>
    </ng-container>

</div>
<div id="secure2">
    <h2>What is 3DS?</h2>
    <hr>
    <p>3DS stands for 3D-Secure authentication service, a secure protocol that protects and secures online purchasing transactions. This allows customers to securely process payments without an increased risk of liability of fraudulent payments to the card issuer.</p>

</div>
    <h2>What is 3DS2?</h2>
    <hr>
    <p>The newest version of 3DS, namely 3DS2 offers an improved overall checkout experience when compared with its previous version. It uses a wider range of data and biometric authentication to allow for “frictionless authentication”, which means a more secure and smooth payment flow for both merchants as well as their customers. For businesses in Europe, it’s the best way to comply with the new SCA requirements. It addresses the issue of customer authentication in remote payments while providing the fraud prevention and chargeback protection benefits of its previous version.</p>
    <h2>What is SCA?</h2>
    <hr>
    <p>SCA stands for strong customer authentication and is a regulatory requirement by the EU Revised Directive on Payment Services. SCA requires you to build additional authentication into your payment flow, using two out of the following three authentication elements:</p>
    <ol>
        <li>knowledge (something only the user knows)</li>
        <li>possession (something only the user possesses)</li>
        <li>inherence (something the user is).</li>
        
    </ol>
    <p>These must be independent of one another, in that the breach of one does not compromise the reliability of the others, and is designed in such a way as to protect the confidentiality of the authentication data.” To better understand what this means and how it will affect business, it is first important to know what comprises each of these 3 categories. The Knowledge category means something only a user Knows like for example a password or PIN that they have to remember. The Possession category means something the user owns like a phone or wearable device. Lastly, the Inherence category means something a customer is, something that is unique to them like their fingerprint or facial recognition. The SCA essentially requires at least 2 of these categories to be in play for authentication to take place.</p>
    <p>SCA only applies to processing payments from cards issued in Europe (including the UK) AND you are processing these payments through a European acquirer. If none or only one of the two statements applies to you SCA is not required, but should still be applied out of safety. However even if SCA does apply, certain payments processed may fall out of the requirement for SCA and may be exempted.</p>
    <h2>What are the exemptions for SCA?</h2>
    <hr>
</div>
</div>
