.main-nav{
  display: block;
  scrollbar-width: thin;
  background-color: white;
  width: 25%;
  height: 95vh;
  overflow-y: scroll;
  position: fixed;
    }
ul {
    list-style-type: none;
  }
  li{
    font-size: 12px;
    margin: 2px;
  }
 
  .accordion-header{
    border: none !important;
  }
