<div class="main-nav">
  <form action="/action_page.php">
    <input
      type="search"
      placeholder="Type to Search"
      id="gsearch"
      name="gsearch"
      style="outline: none; border: none; width: 100%; margin-top: 3vh;padding-left: 5%;"
    />
  </form>
  <hr />
  <div class="accordion" id="accordionExample">
    <!-- <p class="accordion-header" id="headingOne">
      <button type="button" style="border:none ; background-color:white;padding-left:7%">Introduction</button>
    </p> -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
         
        >
          Introduction
        </button>
      </h2>
      </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
          (click)="payClick();"
        >
          Payment API
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
       <ul>
        <li>With Hosted Payment Page [HPP]</li>
        <li>Shopping Cart Plugin Checkout - cards </li>
        <li>Shopping Cart Plugin Checkout - APM</li>
        <li><a href="#post">Without HPP : Card Payments </a> </li>
        <li>Without HPP : E-Bank Payments - APM</li>
        <li>Synchronous Flow : Card Payments</li>
        <li>iFrame Payment Page</li>
        <li>Plugin Details API (To get Associated Payment Metting</li>
       </ul>
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseFour"
          (click)="subClick();"
        >
          Subscription API
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse show"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul>
        <li>Create Plan</li>
        <li>Update plan</li>
        <li>Get Plan Details</li>
        <li>Deactivate plan</li>
        <li>Create Subscription</li>
        <li>Update Subscription</li>
        <li>Schedule Update Subscription</li>
        <li>Deactivate Subscription</li>
        <li>Get Subscription Details</li>
        <li>Initial Subscription Payment - Hosted Payment Page</li>
        <li>Initial Subscription Payment - Shopping Cart Plugin</li>
        <li>Initial Subscription - Without HPP : Card Payments</li>
      </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseFive"
          (click)="intClick();"
        >
         Intregations
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse show"
        aria-labelledby="headingFive"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul>
        <li><a routerLink="/integration" fragment="API_Wrappers" href="#API_Wrappers">API Wrappers</a> </li>
        <li><a routerLink="/integration" fragment="Plugins" href="#Plugins">Plugins </a></li>
        <li><a routerLink="/integration" fragment="Mobile" href="#Mobile">Mobile SDKs</a> </li>       
      </ul>
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSeven"
          aria-expanded="true"
          aria-controls="collapseSeven"
          (click)="secureClick();"
        >
          3D Secure Version 2 API
        </button>
      </h2>
      <div
        id="collapseSeven"
        class="accordion-collapse collapse show"
        aria-labelledby="headingSeven"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul>
        <li><a href=" #/secure-Api?id=secure3">Introduction </a></li>
        <li><a href="#secure1">How to Implement?</a></li>
        <li><a href="#secure2">3DS 2 Flows</a></li>
        <li><a href="#secure3">External 3DS</a></li>
      </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEight">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseEight"
          aria-expanded="true"
          aria-controls="collapseEight"
          (click)="faqClick();"
        >
      FAQ
        </button>
      </h2>
      <div
        id="collapseEight"
        class="accordion-collapse collapse show"
        aria-labelledby="headingEight"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul>
        <li>FAQ Overview</li>
        <li>account Setup</li>
        <li>Intregations</li>
        <li>Payments</li>
        <li>Backoffice</li>
        <li>3DSecure Version 2</li>
        <li>Webhooks</li>
        <li>Going Live</li>
        <li>Portal</li>
        <li>PCI Compliance</li>
        <li>Subscription</li>
      </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNine">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseNine"
          aria-expanded="true"
          aria-controls="collapseNine"
          (click)="testingClick();"
        >
          Testing
        </button>
      </h2>
      <div
        id="collapseNine"
        class="accordion-collapse collapse show"
        aria-labelledby="headingNine"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul>
        <li>Available card Types</li>
        <li>Test Credentials</li>
      </ul>
        </div>
      </div>
    </div>
  </div>
</div>


