<div>
  <div>
    <h2>Payment API</h2>
    <hr />
    <p>
      Partner PSPs can use this API to send a payment transaction to be
      processed by CelerisPay’s payment gateway. This API functions as a
      client-side POST, either with form data (utilizing CelerisPay’s provided
      data wrappers) or a JSON object. The result is a redirect of the client
      browser to the appropriate bank URL. Upon a successful, failed, or
      cancelled transaction, the client will be redirected to the URL specified
      in the API.
    </p>
    <p>
      Currently, iframes are not supported for Net Banking payments due to bank
      requirements. CelerisPay can customize any intermediate pages to fit the
      look and feel of the partner or end-merchant. The Payment API supports the
      options of (1) using the Partner’s own payment page or (2) using
      CelerisPay’s hosted payment page.
    </p>
  </div>

  <p>The usual integration flow can be briefed as:</p>

  <ng-container>
    <ol>
      <li *ngFor="let item of unorderlist_1">{{ item }}</li>
    </ol>
  </ng-container>

  <div id="HPP">
    <span>With Hosted Payment Page [HPP] </span>
    <hr />
    <img src="../assets/images/pmt-flow-Slide1.png" width="900" height="500" />
    <img src="../assets/images/pmt-flow-Slide2.png" width="900" height="500" />
  </div>
  <div id="post">
    <blockquote>
      <p>
        <span>POST</span>
        <a href="https://stagapi.celerispay.com/partnerAPI"
          >https://stagapi.celerispay.com/partnerAPI</a
        >
      </p>
    </blockquote>
  </div>
</div>
