<app-header-nav></app-header-nav>
<div style="display: flex">
  <app-side-nav-bar style="
      scrollbar-width: thin;
      background-color: white;
      width: 25%;
      height: 95vh;
      overflow-y: scroll;
      position: fixed;
    "
  ></app-side-nav-bar>

  <div
    style="padding: 4%; margin-left: 340px; background-color: white; width: 75%"
  >
    <div><h2>Integrations</h2></div>

    <div id="API_Wrappers">
      <h3 style="margin: 5% 0% 5% 0%">API Wrappers</h3>
      <hr />
      <p style="margin-top: 5%">
        These extensions connect your Webshop to CelerisPay’ cloud-based PCI DSS
        3.0 Level-1 certified international payment gateway. Your customers get
        the convenience and speed of our intuitive payment process, fully
        mobile-optimized payment pages, and a wide range of payment options. The
        wrappers are free for all merchants to use and integrate into their
        online stores.
      </p>
    </div>

    <div class="psw-cards-container">
      <div class="psw-card csharp-card">
        <a href="#/Csharp-Wrapper">
          <div class="__image">
            <img src="../assets/images/c-1.png" alt="" />
          </div>
          <hr />
          <div class="__name">C#</div>
        </a>
      </div>

      <div class="psw-card php-card">
        <a href="#/PHP-Wrapper">
          <div class="__image">
            <img src="../assets/images/php-1.png" alt="" />
          </div>
          <hr />
          <div class="__name">PHP</div>
        </a>
      </div>

      <div class="psw-card java-card">
        <a href="#/Java-SDK">
          <div class="__image">
            <img src="../assets/images/java-1.png" alt="" />
          </div>
          <hr />
          <div class="__name">Java</div>
        </a>
      </div>

      <div class="psw-card python-card">
        <a href="#/Python-Wrapper">
          <div class="__image">
            <img src="../assets/images/python-1.png" alt="" />
          </div>
          <hr />
          <div class="__name">Python</div>
        </a>
      </div>

      <div class="psw-card ruby-card">
        <a href="#/Ruby-Wrapper">
          <div class="__image">
            <img src="../assets/images/ruby.png" alt="" />
          </div>
          <hr />
          <div class="__name">Ruby</div>
        </a>
      </div>

      <div class="psw-card go-card">
        <a href="#/Go-Wrapper">
          <div class="__image">
            <img src="../assets/images/golang.png" alt="" />
          </div>
          <hr />
          <div class="__name">Golang</div>
        </a>
      </div>

      <div style="margin-left: 30%" class="psw-card nodejs-card">
        <a href="#/NodeJS-Wrapper">
          <div class="__image">
            <img
              style="width: 180px"
              src="../assets/images/Node.js-logo.png"
              alt=""
            />
          </div>
          <hr />
          <div class="__name">NodeJS</div>
        </a>
      </div>
    </div>
    <div>
      <h3>Plugins</h3>
      <p>
        These extensions connect your Webshop to CelerisPay’ cloud-based PCI DSS
        3.0 Level-1 certified international payment gateway. Your customers get
        the convenience and speed of our intuitive payment process, fully
        mobile-optimized payment pages, and a wide range of payment options. The
        plugins are free for all merchants to use and integrate into their
        online stores.
      </p>
    </div>
    <div class="psw-cards-container">
      <div class="psw-card magento-card">
        <a href="#/Magento-2.2">
          <div class="__image">
            <img src="../assets/images/magento2.png" alt="" />
          </div>
          <hr />
          <div class="__name">Magento 2</div>
        </a>
      </div>

      <div class="psw-card woocommerce-card">
        <a href="#/WooCommerce">
          <div class="__image">
            <img src="../assets/images/woo.png" alt="" />
          </div>
          <hr />
          <div class="__name">WooCommerce</div>
        </a>
      </div>

      <div class="psw-card prestashop-card">
        <a href="#/Prestashop">
          <div class="__image">
            <img src="../assets/images/prestashop.png" alt="" />
          </div>
          <hr />
          <div class="__name">Prestashop</div>
        </a>
      </div>

      <div class="psw-card opencart-card">
        <a href="#/OpenCart">
          <div class="__image">
            <img src="../assets/images/opencart_logo.png" alt="" />
          </div>
          <hr />
          <div class="__name">OpenCart</div>
        </a>
      </div>

      <div class="psw-card shopware-card">
        <a href="#/Shopware6">
          <div class="__image">
            <img src="../assets/images/shopware6_logo.png" alt="" />
          </div>
          <hr />
          <div class="__name">Shopware6</div>
        </a>
      </div>

      <div class="psw-card shopware5-card">
        <a href="#/Shopware5">
          <div class="__image">
            <img src="../assets/images/shopware5_logo.png" alt="" />
          </div>
          <hr />
          <div class="__name">Shopware5</div>
        </a>
      </div>
      <div style="margin-left: 30%" class="psw-card drupal-card">
        <a href="#/Drupal-Commerce2">
          <div class="__image">
            <img
              style="width: 180px"
              src="../assets/images/drupal.png"
              alt=""
            />
          </div>
          <hr />
          <div class="__name">Drupal Commerce</div>
        </a>
      </div>
    </div>
    <div>
      <h3>Mobile SDKs</h3>
      <p>
        These extensions connect your Webshop to CelerisPay’ cloud-based PCI DSS
        3.0 Level-1 certified international payment gateway. Your customers get
        the convenience and speed of our intuitive payment process, fully
        mobile-optimized payment pages, and a wide range of payment options. The
        SDKs are free for all merchants to use and integrate into their online
        stores.
      </p>
    </div>
    <div class="psw-cards-container">
      <div style="margin: 5%" class="psw-card android-card">
        <a href="#/Android-SDK">
          <div class="__image">
            <img src="../assets/images/android.png" alt="" />
          </div>
          <hr />
          <div class="__name">Android</div>
        </a>
      </div>

      <div class="psw-card ios-card">
        <a href="#/ios-sdk">
          <div class="__image">
            <img src="../assets/images/ios-1.png" alt="" />
          </div>
          <hr />
          <div class="__name">iOS</div>
        </a>
      </div>
    </div>
    <div>
      <h3>Questions</h3>
      <p>
        For further questions or feedback, kindly send us your questions or
        suggestions to:
      </p>
      <p style="color: #03b7ff; text-decoration: underline">
        info@celerispay.com
      </p>
    </div>
    <hr />
  </div>
</div>
