<app-header-nav></app-header-nav>
<div style="display: flex">
  <app-side-nav-bar></app-side-nav-bar>
  <div
    style="background-color: white; width: 75%; padding: 4%; margin-left: 340px"
  >
    <div>
      <span>Payment API</span>
      <hr />
      <p>
        Partner PSPs can use this API to send a payment transaction to be
        processed by CelerisPay’s payment gateway. This API functions as a
        client-side POST, either with form data (utilizing CelerisPay’s provided
        data wrappers) or a JSON object. The result is a redirect of the client
        browser to the appropriate bank URL. Upon a successful, failed, or
        cancelled transaction, the client will be redirected to the URL
        specified in the API.
      </p>
      <p>
        Currently, iframes are not supported for Net Banking payments due to
        bank requirements. CelerisPay can customize any intermediate pages to
        fit the look and feel of the partner or end-merchant. The Payment API
        supports the options of (1) using the Partner’s own payment page or (2)
        using CelerisPay’s hosted payment page.
      </p>
    </div>
    <div>
      <p>The usual integration flow can be briefed as:</p>

      <ol>
        <li>
          The client makes a payment call and get the redirection URL and post
          data in response.
        </li>
        <li>
          The client performs a form post to the redirection URL and sends the
          data in the form params.
        </li>
        <li>
          After a successful/failed/pending payment, CelerisPay send the
          customer back to the client’s respective return Url.
        </li>
        <li>
          The client reads the response and make a getTransactionStatus API call
          to get the correct details of the transaction.
        </li>
        <li>
          In case of a delayed response, the client may get a notification to
          the respective return URL mentioned in the API call. <br />Again it is
          advised to make a getTransactionStatus API call to get the correct
          details of the transaction.
        </li>
      </ol>
    </div>
    <div>
      <span>With Hosted Payment Page [HPP] </span>
      <hr />
      <img
        src="../assets/images/pmt-flow-Slide1.png"
        width="900"
        height="500"
      />
      <img
        src="../assets/images/pmt-flow-Slide2.png"
        width="900"
        height="500"
      />
    </div>
    <div id="post">
      <blockquote>
        <p>
          <span>POST</span>
          <a href="https://stagapi.celerispay.com/partnerAPI"
            >https://stagapi.celerispay.com/partnerAPI</a
          >
        </p>
      </blockquote>
    </div>
  </div>
</div>
