<div class="main">
    <div class="header">
  <h1 style="font-size: 55px;font-weight:bolder">celeris<span style="color: aqua;font-weight: lighter;">pay</span></h1>
  <p style="font-size:25px;font-weight:lighter">Global Payments & Fraud Prevention Solution</p>
  </div>
  <div class="component">

    <div class="cards">
      <i style="padding: 2px;" class="fa fa-sitemap" aria-hidden="true"></i>      
      <a 
       routerLink="/payment"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      
      <p class="card-heading">Payment API</p>
      <p>Partner PSPs can use this API to send a payment Transaction to be processed by our payment gateway</p>
    </a> 
    </div>
 
    <div class="cards">
    <a 
       routerLink="/integration"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
       <i class="fa fa-cubes" aria-hidden="true"></i>
      <p class="card-heading">Integrations</p>
      <p>We support all major programming languages and frameworks. Find the suitable Plugins and Wrappers here.</p>
    </a>
    </div>
    <div class="cards">
    <a 
       routerLink="/secure"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
       <i class="fa fa-shield" aria-hidden="true"></i>
      <p class="card-heading">3D Secure</p>
      <p>The newest version of 3DS, namely 3DS2 offers an improved overall checkout experience.</p>
    </a> 
    </div>
    <div class="cards">
    <a 
       routerLink="/faq"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
       <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      <p class="card-heading">Subscription API</p>
      <p>Partner PSPs can use this API to send a recurring payment transaction to be processed by our payment gateway.</p>
    </a> 
    </div>
    <div class="cards">
    <a 
       routerLink="/subscription"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
       <i class="fa fa-question-circle" aria-hidden="true"></i>
      <p class="card-heading">FAQ</p>
      <p>Frequently asked questions and their answers regarding our API's.</p>
    </a> 
    </div>
    <div class="cards">
    <a 
       routerLink="/testing"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
       <i class="fa fa-tags" aria-hidden="true"></i>
      <p class="card-heading">Testing</p>
      <p>A complete and comprehensive list of all testing cards Response codes with their description.</p>
    </a>
    </div>
  </div>
  </div>
  <div>
    <i class="fa fa-address-book" aria-hidden="true"></i> 

  </div>
  

