.psw-cards-container {
    justify-content: center;
    flex-wrap: wrap;
    /* display: flex; */
}
/* 
.psw-card{
    width: 28%;
    display: inline-block;
    padding: 2%;
    margin: 2%;  
    text-align: center; 
    
} */

.psw-cards-container :hover{
    background-color: aliceblue;
}

/* .__image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
} */